<!DOCTYPE html>
<html>

<body>
    <%- include('html/nav.html')%>
    <%- include('html/footer.html')%>
    <p>First name: <%=account.lname%>
    </p>
    <p>Last name: <%=account.lname%>
    </p>
    <p>
        Scientific Disciplines:<% account.scientificDisciplines.forEach(function(element)
            { %>
            <b><%= element %>,</b>     
            <% }) %>
    </p>
    <p>
        Tags:<% account.tags.forEach(function(element)
            { %>
            <b><%= element %>,</b>     
            <% }) %>
    </p>
    <p> Current affiliation: <%= account.org%> </p>
    <p> Bio: <%= account.bio%> </p>
    <p> Proof of affiliation: <%= account.proof%> </p>
    <p>
        <p> Google Scholar: <%= account.researchProfiles.googleScholar%></p>
        <p> Research Gate: <%= account.researchProfiles.researchGate%></p>
        <p> Linked In: <%= account.researchProfiles.linkedIn%></p>
        <p> ORCID: <%= account.researchProfiles.ORCID%></p> 
    </p>
    <div class="mb-5"></div>
</body>
<script type="text/javascript" src="../../scripts/session.js"></script>
</html>